Task 40 Работать с файлом california_housing_train.csv, который находится в папке sample_data.
 Определить среднюю стоимость дома, где кол-во людей от 0 до 500 (population).

In [19]:
import pandas as pd

In [20]:
df = pd.read_csv('california.csv')

In [21]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0

In [7]:
filtered_by_households = df.query('households >= 0 and households <= 500')

In [10]:
filtered_by_households.median_house_value.mean()

199490.47123430963

Task 42 Узнать какая максимальная households в зоне минимального значения population.

In [11]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0

In [16]:
df.query('population.min()')

longitude              -119.5600
latitude                 36.5100
housing_median_age       37.0000
total_rooms            1018.0000
total_bedrooms          213.0000
population              663.0000
households              204.0000
median_income             1.6635
median_house_value    67000.0000
Name: 5, dtype: float64

In [18]:
df.query('population == population.min()').households

2640    3.0
Name: households, dtype: float64